html{
  overflow-x: hidden;
}

/* astronaut */
#astronaut {
    position: absolute;
    right: 14vw;
    width: 10rem;
    height: auto;
    /*top: 5vh;*/
    margin: auto;
    z-index: 3;
    animation: astronaut 2s ease-in-out infinite alternate;
  }
  
  @keyframes astronaut {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(15%);
    }
  }
  
  /* planet */
  #planet {
    position: absolute;
    left: 14vw;
    height: 10rem;
    top: 90vw;
    margin: auto;
    z-index: 3;
    animation: planet 12s ease-in infinite alternate;
  }
  
  @keyframes planet {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  
  /* about */
  .about {
    height: 100vh;
    width: 100vw;
    /*background-image: url("./assets/rotate-space.gif");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-box {
    min-height: 70vh;
    width: 60vw;
    z-index: 2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: white(125, 218, 255, 0.603) 0px 3px 2px 3px;
    border-radius: 30px;
    border: white solid 5px;
    position: absolute;
    /*
    Making change in the original code
    top: 15vh; 
    */
    margin-top: 120px;
    left: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .about-box h1 {
    color: white;
    font-family: "Bad-mofo";
    font-size: 3rem;
    position: absolute;
    top: 5vh;
    margin-bottom: 5rem;
  }
  
  .about-text {
    color: white;
    font-size: 1.1rem;
    margin: 10% 10%;
  }

  @media only screen and (max-width: 400px) {
    html {
      font-size: 7px;
    }
    #astronaut{
      top: 10vh;
    }
    #planet{
      bottom: 6vh;
    }
    .about-text{
      font-size: 0.75rem;
    }
  }
  @media only screen and (max-width: 540px) {
    html {
      font-size: 7.5px;
    }
    #planet{
      bottom: 12vh;
      top: 80vh;
    }
  }
  @media only screen and (max-width: 860px) {
    html {
      overflow-x: hidden;
      overflow-y: scroll;
      font-size: 9px;
    }
    .about {
      position: relative;
    }
    #astronaut{
      top: 10vh;
    }
    #planet {
      bottom: 50vh;
    }
  }

  @media only screen and (max-width: 1300px) {
    html {
      font-size: 12px;
    }
    #planet{
      top: 180vh;
    }
  }

  @media only screen and (max-width: 840px) {
    html {
      font-size: 9px;
    }
    #astronaut{
      top: 10vh;
    }
    #planet{
      bottom:15vh;
      top: 80vh;
    }
  }