h1 {
  font-size: x-large;
}

footer {
  font-size: medium;
  background-color: #000;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}
.container1 {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  min-width: 250px;
  color: #f2f2f2f2;

  padding: 0 2rem;
}
.col .logo {
  width: 100px;
  margin-top: 10px;
  margin-left: 3rem;
}
.gd {
  width: auto;
  height: 80%;
  margin-top: 30px;
}
.social {
  width: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col h3 {
  color: #11ab9a;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.col h3::after {
  content: "";
  height: 3px;
  width: 0px;
  background-color: #11ab9a;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.col h3:hover::after {
  width: 30px;
}
.col .social a i {
  color: #11ab9a;
  margin-top: 2rem;
  margin-left: 5px;
  transition: 0.3s ease;
  width: 40px;
}
.logo {
  display: inline-flex;
  justify-content: center;
  padding-top: 2px;
}
.gd {
  margin-right: 5px;
  width: 150px;
}
.col .social a i:hover {
  transform: scale(1.5);
  filter: grayscale(25);
}
.col .links a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
.col .links a::before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: #11ab9a;
  transition: 0.5s ease;
  opacity: 0;
}
.col .links a:hover::before {
  opacity: 1;
}
.col .links a:hover {
  transform: translateX(-8px);
  color: #11ab9a;
}
.col .contact-details {
  display: flex;
}
.col .contact-details i {
  margin-right: 15px;
}
.contact-details {
  margin-top: 2px;
}
.row .form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.row .form input {
  background-color: #1a1c20ff;
  border: 0;
  outline: none;
  padding: 14px 20px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form button {
  padding: 14px 20px;
  border: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #11ab9a;
}
.bottom {
  text-align: center;
  margin: 20px;
}

.gmap_canvas {
  margin-top: 20px;
}
.col.contact {
  margin-top: 5rem;
}
/********** Responsive Design ********/
@media (max-width: 900px) {
  footer {
    font-size: medium;
    text-align: center;
  }
  .col.logo {
    text-align: center;
    margin-left: 200px;
  }
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;

    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  footer {
    text-align: center;
    font: medium;
  }
  .logo {
    margin-left: 200px;
  }
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;

    margin-bottom: 20px;
  }
}
