@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@300;400&family=Roboto:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
}
.hntl{
  background-color: black;
}


@font-face {
  font-family: "Bad-mofo";
  src: url("./BadMofo.ttf");
}


.timeline {
    height: 100%;
    overflow: auto;
  }
  
  .timeline-container {
    max-width: 1100px;
    margin: auto;
  
    padding: 0 2rem;
  }
  
  .timeline-header {
    margin-top: 15vh;
    height: 30vh;
  }
  
  .timeline-header h1 {
    color: white;
    font-family: "Bad-mofo", sans-serif;
    font-size: 5rem;
    letter-spacing: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .timeline-line {
    width: 0.3rem;
    background-color: #e0e0d8;
    
    position: absolute;
    top: 14%;
    left: 50%;
    bottom: 3%;
    z-index: -1;
    overflow: hidden;
  
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 5rem;
  }
  .card-mob {
    display: none;
  }
  
  .card-mob .second {
    opacity: 1;
  }
  .card:nth-child(4n + 1) .book {
    order: 2;
  }
  
  .card > div {
    padding: 1.5rem;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .card .btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 0.8rem 1.8rem;
    text-decoration: none;
    margin-top: 1.5rem;
  }
  
  /* timeline-book */
  
  .book {
    position: relative;
    cursor: pointer;
    perspective: 1000px;
    transition: all 0.8s ease-in;
    opacity: 0.75;
    z-index: 1;
  }
  
  .first,
  .second {
    width: 85%;
    height: 400px;
    transition: transform 0.8s ease-in;
  }
  
  .first {
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    text-align: center;
  }
  
  .book:hover .first {
    transform: rotateY(-180deg);
  }
  .book:hover {
    transform: translateX(35%);
    opacity: 0.9;
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .day1-card {
    background-image: url("./sample.jpeg");
  }
  .day2-card {
    background-image: url("./sample.jpeg");
  }
  .day3-card {
    background-image: url("./sample.jpeg");
  }
  .day4-card {
    background-image: url("./sample.jpeg");
  }
  
  .front {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: rgba(255, 255, 255) solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .front h1 {
    color: white;
    font-family: "Bad-mofo", sans-serif;
    font-size: 4rem;
    opacity: 1;
  }
  
  .back {
    background: rgb(0, 0, 0);
    border: white solid 2px;
    transform: rotateY(-180deg);
    color: white;
    padding: 1rem;
    font-family: "Poppins";
  }
  
  .second {
    text-align: left;
    opacity: 0;
    transition: 1s ease;
    background: rgb(26, 173, 231, 0.75);
    font-size: 1rem;
    border: white solid 6px;
    padding: 1rem;
    font-family: "Poppins";
  }
  .book:hover .second {
    opacity: 1;
  }
  .second ul {
    padding-left: 0.75rem;
    list-style: square;
    position: absolute;
    top: 10%;
  }
  
  .second ul li {
    border-bottom: solid rgba(255, 255, 255, 0.3) 0.1px;
  }
  
  .second ul li:nth-child(4n) {
    border-bottom: none;
  }
  
  .second ul div {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  
  /* .second p {
    color: white;
    font-style: italic;
    font-size: 0.8rem;
    position: absolute;
    bottom: 10%;
    left: 13%;
    margin-left: 0.5rem;
  } */
  .second a {
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 4.7rem;
    transition: all 0.3s ease-in;
  }
  .second a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    transform: Scale(1.1);
  }
  
  [data-aos="menu-area"].aos-animate {
    opacity: 1;
  }
  @media (max-width: 700px) {
    .card {
      display: block;
    }
  }